
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Inventory.Web.Modules.InventoryWebModelData>

    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Inventory test</title>
    </head>
    <body>
        Cretae new inventory
        <form class="form-horizontal" action="/" method="post">
            <label>Name</label>
            <input type="text" name="name" placeholder="Enter a name" />
            <input type="submit" value="Create" />
        </form>
        <p></p>

        Modify inventory
        <form id="InvChange" method="post">
            <label>GUID</label>
            <input type="text" name="guid_text" size="36" value="@Model.Id"/>
            <label>Version</label>
            <input type="number" name="version_text" value="@Model.Version"/>
            <br />
            <label>Count</label>
            <input type="number" name="number" value="1" />
            <input type="submit" value=" + " onclick="change_count(true)" />
            <input type="submit" value=" - " onclick="change_count(false)" />
            <br />
            <label>New name</label>
            <input type="text" name="new_name" placeholder="Enter new name" value="" />
            <input type="button" value="Rename" onclick="change_name()" />
            <br />
            <input type="button" value="Deactivate" onclick="change_status()" />

        </form>

        <script type="text/javascript">
            // DELETE
            function change_status() {
                //var newurl = "/" + "3869ed0b-949f-4211-a0f9-71a6e3987234" + "/" + "33";
                var newurl = get_item_data();
                alert("DELETE url:" + newurl);

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = onreadystatechangeHandle(xhttp);
                xhttp.open("DELETE", newurl, true);
                xhttp.send();
                return true;
            }

            // RENAME
            function change_name() {
                //var newurl = "/" + "3869ed0b-949f-4211-a0f9-71a6e3987234" + "/" + "33";
                var newurl = get_item_data();
                alert("PUT url:" + newurl);

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = onreadystatechangeHandle(xhttp);
                xhttp.open("PUT", newurl, true);
                // new name
                var data = new FormData();
                data.append("name", window.InvChange.new_name.value);
                xhttp.send(data);
                return true;
            }

            // ADD/REMOVE
            function change_count(add) {
                var newurl = (add ? "/Checkin/" : "/Checkout/") + get_item_data();
                alert("url:" + newurl);
                window.InvChange.action = newurl;
                return true;
            }


            function onreadystatechangeHandle(xhttp) {
                alert("xhhtp.status" + xhttp.status);
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    if (xhttp.responseType === "") {
                        document.body.innerHTML = xhttp.response;
                    } else
                        alert(" just done respType=" + xhttp.responseType);
                }
                //else if (xhttp.status === 500) {
                //        document.body.innerHTML = xhttp.response;
                //}
            }

            function get_item_data() {
                return "/" + window.InvChange.guid_text.value + "/" + window.InvChange.version_text.value;
            }

        </script>

    </body>
</html>
